In [10]:
import pandas as pd

In [19]:
df = pd.read_csv("../../datasets/pubmed/replaced_abstracts/pubmed21n1067_tokenized_longforms_replaced.csv", converters={'long_forms': eval})

ADAM_DF = pd.read_csv("../../datasets/adam/valid_adam.txt", sep='\t')

In [26]:
df_explode = df[['long_forms', 'unique_key']].explode('long_forms')
df_explode.head()

     long_forms unique_key
0     compounds     V13O_0
0     secondary     V13O_0
0     precursor     V13O_0
0  heterologous     V13O_0
0       factors     V13O_0

In [58]:
df_merged = ADAM_DF[['EXPANSION']].merge(df_explode, how='left', left_on=['EXPANSION'], right_on = ['long_forms'])
x = df_merged.groupby(by=['EXPANSION'], as_index = False).agg(['count'])
x.reset_index(inplace=True)

In [62]:
import numpy as np

In [93]:
df = pd.DataFrame(list(dict_counts.items()),columns = ['long_form','counts'])
df

                                           long_form  counts
0                                      contractility       0
1      rate of left ventricular pressure development       0
2                                   anhydrodglucitol       0
3                                    anhydroglucitol       0
4                    labeled with radioactive carbon       0
...                                              ...     ...
24000                   serine proteinase inhibitors       0
24001     hydroxymethylglutaryl coenzyme a reductase       0
24002                 inhibitors of hmgcoa reductase       0
24003            vacuolar protontranslocating atpase       0
24004                           vacuolartype hatpase       0

[24005 rows x 2 columns]

In [95]:
list(dict_counts.items(), dict_counts.values())

TypeError: list expected at most 1 argument, got 2

In [112]:
import collections
a_dict = collections.defaultdict(list)
a_dict["a"].append("hello")
a_dict["b"].append("lasdf")
a_dict = collections.OrderedDict(a_dict)
print(a_dict)

OrderedDict([('a', ['hello']), ('b', ['lasdf'])])

In [113]:
a_dict["b"].append("lasdf")

In [105]:
a_dict["b"].append('asdf')

In [114]:
a_dict

OrderedDict([('a', ['hello']), ('b', ['lasdf', 'lasdf'])])

In [306]:
a = ['a', 'b', 'c']
a.index('b')

1

In [308]:
df.iloc[0]

long_form                                         contractility
counts                                                       41
unique_key    [FR3VMLOB_151, FR3VMLOB_641, FR3VMLOB_643, FR3...
Name: 0, dtype: object

In [307]:
df = pd.read_csv("../../datasets/pubmed/replaced_abstracts/counts.csv", converters={'long_forms': eval, 'unique_key': eval})
df

                                           long_form  ...                                         unique_key
0                                      contractility  ...  [FR3VMLOB_151, FR3VMLOB_641, FR3VMLOB_643, FR3...
1      rate of left ventricular pressure development  ...                                                 []
2                                   anhydrodglucitol  ...                                                 []
3                                    anhydroglucitol  ...                                                 []
4                    labeled with radioactive carbon  ...                                                 []
...                                              ...  ...                                                ...
24000                   serine proteinase inhibitors  ...                                                 []
24001     hydroxymethylglutaryl coenzyme a reductase  ...                                                 []
24002                 inhibitors of hmgcoa reductase  ...                                                 []
24003            vacuolar protontranslocating atpase  ...                                                 []
24004                           vacuolartype hatpase  ...                                                 []

[24005 rows x 3 columns]

In [326]:
df = pd.read_csv("../../datasets/pubmed/replaced_abstracts/counts.csv", converters={'long_forms': eval, 'unique_key': eval})
df = df.sort_values(by='counts')
df = df.explode('unique_key')
df.dropna(inplace=True)
df.drop_duplicates(subset='unique_key',inplace=True)
#df['counts'] = 1
#df['frequency'] = df['counts']/df['counts'].sum()
'''df = df.groupby(by=['long_form'], as_index = False).agg({'frequency':'sum', 'unique_key':lambda x: con(x)})'''
#df = df.groupby(by=['long_form'], as_index = False)['unique_key'].sum()
#df.groupby(('long_form'))['unique_key'].apply(sum)

"df = df.groupby(by=['long_form'], as_index = False).agg({'frequency':'sum', 'unique_key':lambda x: con(x)})"

In [333]:
x = (df.groupby(by=['long_form'])['unique_key'].apply(list))

In [335]:
x

long_form
 confidence interval          [FR3VMLOB_417, FR3VMLOB_860, FR3VMLOB_1318, FR...
 dextrose                     [FR3VMLOB_17176, RNEDP3T9_8365, RNEDP3T9_8366,...
 effective concentrations            [FR3VMLOB_533, RNEDP3T9_50, ZU355LHD_6873]
 inhibition of cell growth      [FR3VMLOB_15481, ZU355LHD_2030, ZU355LHD_13129]
 inhibition of growth                                           [G37O7JMY_1228]
                                                    ...
zeta potential                [FR3VMLOB_6528, FR3VMLOB_7502, FR3VMLOB_8478, ...
zinc deficiency                 [FR3VMLOB_9490, FR3VMLOB_12194, FR3VMLOB_16856]
zona fasciculata                                               [FR3VMLOB_10087]
zona pellucida                [FR3VMLOB_11129, RNEDP3T9_3957, RNEDP3T9_8487,...
zone electrophoresis                                           [FR3VMLOB_17898]
Name: unique_key, Length: 7006, dtype: object

In [334]:
x.index

Index([' confidence interval', ' dextrose', ' effective concentrations',
       ' inhibition of cell growth', ' inhibition of growth', ' million units',
       ' minutes', ' month', ' months later', ' nacl',
       ...
       'xanthan gum', 'xanthohumol', 'xyloglucan', 'years later', 'yolk sac',
       'zeta potential', 'zinc deficiency', 'zona fasciculata',
       'zona pellucida ', 'zone electrophoresis'],
      dtype='object', name='long_form', length=7006)

In [336]:
text = "leydig cells reflect the activation of inflammation decrease of androgen productionIC50 and promotion of cell apoptosis under orchitis maternally expressed gene meg3 exerts a crucial role in various human diseases but under orchitis the role and underlying molecular mechanism of meg3 in leydig cells remain unclear"

In [338]:
from itertools import product

In [342]:
list(product(['a', 'b'], ['c', 'd']))

TypeError: list() takes no keyword arguments

In [345]:
names = ['Brown', 'Wilson', 'Bartlett', 'Rivera', 'Molloy', 'Opie']
x = list(product(names, repeat=2))

In [349]:
x

[('Brown', 'Brown'),
 ('Brown', 'Wilson'),
 ('Brown', 'Bartlett'),
 ('Brown', 'Rivera'),
 ('Brown', 'Molloy'),
 ('Brown', 'Opie'),
 ('Wilson', 'Brown'),
 ('Wilson', 'Wilson'),
 ('Wilson', 'Bartlett'),
 ('Wilson', 'Rivera'),
 ('Wilson', 'Molloy'),
 ('Wilson', 'Opie'),
 ('Bartlett', 'Brown'),
 ('Bartlett', 'Wilson'),
 ('Bartlett', 'Bartlett'),
 ('Bartlett', 'Rivera'),
 ('Bartlett', 'Molloy'),
 ('Bartlett', 'Opie'),
 ('Rivera', 'Brown'),
 ('Rivera', 'Wilson'),
 ('Rivera', 'Bartlett'),
 ('Rivera', 'Rivera'),
 ('Rivera', 'Molloy'),
 ('Rivera', 'Opie'),
 ('Molloy', 'Brown'),
 ('Molloy', 'Wilson'),
 ('Molloy', 'Bartlett'),
 ('Molloy', 'Rivera'),
 ('Molloy', 'Molloy'),
 ('Molloy', 'Opie'),
 ('Opie', 'Brown'),
 ('Opie', 'Wilson'),
 ('Opie', 'Bartlett'),
 ('Opie', 'Rivera'),
 ('Opie', 'Molloy'),
 ('Opie', 'Opie')]

In [348]:
for item, k in x:
    print(item, k)

Brown Brown
Brown Wilson
Brown Bartlett
Brown Rivera
Brown Molloy
Brown Opie
Wilson Brown
Wilson Wilson
Wilson Bartlett
Wilson Rivera
Wilson Molloy
Wilson Opie
Bartlett Brown
Bartlett Wilson
Bartlett Bartlett
Bartlett Rivera
Bartlett Molloy
Bartlett Opie
Rivera Brown
Rivera Wilson
Rivera Bartlett
Rivera Rivera
Rivera Molloy
Rivera Opie
Molloy Brown
Molloy Wilson
Molloy Bartlett
Molloy Rivera
Molloy Molloy
Molloy Opie
Opie Brown
Opie Wilson
Opie Bartlett
Opie Rivera
Opie Molloy
Opie Opie

In [291]:
df_new = pd.DataFrame()
df_new.append(df.loc[df['long_form']=='breathing rate'])
df_new

Empty DataFrame
Columns: []
Index: []

In [204]:
df = pd.read_csv("../../datasets/pubmed/replaced_abstracts/counts.csv", converters={'long_forms': eval, 'unique_keys': eval})
df.head()

                                       long_form  ...                                         unique_key
0                                  contractility  ...  ['FR3VMLOB_151', 'FR3VMLOB_641', 'FR3VMLOB_643...
1  rate of left ventricular pressure development  ...                                                 []
2                               anhydrodglucitol  ...                                                 []
3                                anhydroglucitol  ...                                                 []
4                labeled with radioactive carbon  ...                                                 []

[5 rows x 3 columns]

In [325]:
x = pd.DataFrame({'a':[1,1,2,2],'b':['a','a','a','b'],'c':[[1,2],[3,4],[5,6],[7,8]]})
x.iloc[0:1]['c'][0].index(2)

1

In [267]:
x.groupby(('a'))['c'].apply(sum)

a
1    [1, 2, 3, 4]
2    [5, 6, 7, 8]
Name: c, dtype: object

In [179]:
df = df.groupby(by=['long_form'], as_index = False).agg({'frequency':'sum', 'unique_keys':lambda x: ','.join(x)})

In [184]:
# read csv file with that batch name
dicti = {}
for file in files:
    df = pd.read_csv(os.path.join(self.input_path, key), usecols = 'D:E')
    dicti[key] = df

for row in rows.iter():
    for i, key in enumerate(row['unique_key']):
        # get out
        if i > N
            break 
        # look for the abstract and return abstract
        df_temp = dicti[key]
        abstract = df_temp.loc[df_temp['unique_key']==key, 'replaced_abstract'].tolist()[0]
        # append to df
        df_abstracts = df_abstracts.append({
            'long_forms': row['long_forms'], 'span_short_form': row['span_short_form'],
            'abstract': abstract, 'unique_keys': key
        }
# saved abstract to new csv file
df_abstracts.to_csv(os.path.join(self.output_path, "sampled_dataset"), index = False)

SyntaxError: invalid syntax (<ipython-input-184-f07bb6ae6fe7>, line 12)